@import "../../../Styleguide/Styleguide.scss";

.post {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.message {
  padding: 10px;
  border: $border;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.postDetails {
    margin-bottom: 10px;
}

.author {
  text-decoration: none;
  font-weight: 600;
}

.likes {
 padding-top: 10px;
}

.likes svg {
    color: $primaryColor;
    margin-right: 5px;
}
