@import "../../components/Styleguide/Styleguide.scss";

* {
  box-sizing: border-box;
}

.content {
  font-family: $font;
  color: $textColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.wideColumn {
  width: 68%;
  background-color: $boxColor;
  border-radius: 8px;
  padding: 20px;
}
