@import "../Styleguide/Styleguide.scss";

* {
    box-sizing: border-box;
}

.content {
  font-family: $font;
  color: $textColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.narrowColumn {
    width: 20%;
    background-color: $boxColor;
    border-radius: 8px;
}

.wideColumn {
    width: 78%;
    background-color: $boxColor;
    border-radius: 8px;
    padding: 20px;
}

.avatar img {
    width: 100%;
}
