$primaryColor: #964c63;
$secondaryColor: #f2f2f2;
$boxColor: #ffffff;
$font: "Roboto", Sans-serif;
$titleColor: #002439;
$textColor: #7a7aa5;
$activeColor: #964c63;
$border: 1px solid #dcc2cb;
$activeTextWeight: 700;

h1 {
  color: #000000;
  font-weight: 800;
}

h2 {
  color: $titleColor;
}

.button {
  background-color: $primaryColor;
  color: $secondaryColor;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 800;
  &:disabled {
    background-color: #dcc2cb;
  }
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: $textColor;
}

li a.active {
  color: #964c63;
  font-weight: $activeTextWeight;
}
