.header {
  grid-area: h;
  background-color: #964c63;
}

.header img {
  height: 50px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}
