@import "../../Styleguide/Styleguide.scss";

.inputField {
    border: $border;
    border-radius: 5px;
    // flex-grow: 1;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.buttonWrapper {
   text-align: right;
}